/* Start of global style */
:root {
    --main-color: #e65f78;
    --bg-main: #F1F1F1;
}

@font-face {
    font-family: primary-font;
    src: url(./../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: secondary-font;
    src: url(./../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

body {
    font-family: secondary-font;
}

h1 {
    font-family: primary-font;
}

.max-500 {
    max-width: 31.25rem;
}

.bg-main {
    background-color: var(--bg-main);
}
/* End of global style */

/* Start of navbar */
.navbar {
    --bs-navbar-active-color: var(--main-color);
    --bs-navbar-hover-color: var(--main-color);
    --bs-navbar-color: #333;
}
/* End of navbar */

/* Start of header */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 
    ), url(./../images/header-bg.jpg);
    background-position: center;
    background-size: cover;
    font-family: primary-font;
}

h1::after {
    content: "";
    /* animation: type-writer 5s infinite;
    -webkit-animation: type-writer 5s infinite; */
}

.btn-custom {
    --bs-btn-color: #fff;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-padding-x: 1.875rem;
    --bs-btn-padding-y: .625rem;
    --bs-btn-border-radius: 5.625rem;
}   

.pill {
    width: 2.1875rem;
    height: 4.375rem;
    border: .125rem solid #fff;
    border-radius: 1.875rem;
    -webkit-border-radius: 1.875rem;
    -moz-border-radius: 1.875rem;
    -ms-border-radius: 1.875rem;
    -o-border-radius: 1.875rem;

    position: absolute;
    bottom: 3.125rem;
    left: 50%;
    transform: translateX(-50%);
    /* animation: jump 1s infinite alternate;
    -webkit-animation: jump 1s infinite alternate; */
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.dot {
    width: .25rem;
    height: .5625rem;
    background-color: #fff;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}
/* End of header */

/* Start of about */
.about .icon {
    width: 2.5rem;
    height: 2.5rem;
    border: .125rem solid #a29494;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: .625rem;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.about .icon:hover {
    border-color: var(--main-color);
}

.about .icon i {
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

.about .icon:hover i {
    color: var(--main-color);
}
/* End of about */

/* Start of client */
.client .carousel-icon {
    color: var(--main-color);
}

.client .carousel-indicators [data-bs-target] {
    height: 7px;
    background-color: var(--main-color);
}
/* End of client */